__pycache__
.venv/
.vscode
.DS_Store
notebooks
.*.swp
.*.swo
*.pyc
*.so
*.dylib
*.txt
*.prof
build
/dist
*.egg-info
/env
.ipynb_checkpoints/
backend/zig-cache/
backend/zig-out/
.hypothesis/unicode_data/14.0.0/codec-utf-8.json.gz
*.gz
shrimpgrad/examples/cshrimp
shrimpgrad/examples/tmp.c
